<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Light Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div class="w3-container w3-teal">
        <h1>Crippled Market</h1>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="http://i63.tinypic.com/2vd3el1.jpg" width="600" height="400" align="middle">
    </div>
    <div class="w3-container">
    <p>This is an online store. Just believe in it</p>
    </div>

    <div class="w3-container w3-teal">
        <a href="/producer" class="w3-button">Producer</a>
        <a href="/product" class="w3-button">Product</a>
    </div>
</body>
</html>