<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <!--Menu bar-->
    <div th:replace="fragments/menu.html :: top_menu"/>

    <!--<div th:each="product : ${productList}" class="w3-container">-->
        <div class="w3-container w3-grey w3-margin">
            <!--<a th:href="@{/product(producerId = ${producerId}, pageNumber = ${pageNumber + 1})}">wewr</a>-->
            <a
               th:if="${pageNumber > 0}"
               th:href="@{/product(producerId = ${producerId}, pageNumber = ${pageNumber - 1})}"
               class="w3-button w3-left w3-blue w3-margin-top">
                Previous
            </a>
            <a
               th:if="${pageNumber <= pagesCount}"
               th:href="@{/product(producerId = ${producerId}, pageNumber = ${pageNumber + 1})}"
               class = "w3-button w3-right w3-blue w3-margin-top">
                Next
            </a>
            <div class="w3-container">
                <div class="w3-container w3-section w3-light-grey w3-margin">
                    <table class="w3-table w3-striped w3-bordered w3-border">
                        <tr>
                            <th>N</th>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Producer</th>
                            <th>Price</th>
                        </tr>
                        <tr th:each="product : ${productList}">
                            <td th:text="${indices.get(product.getId())}"></td>
                            <td th:text="${product.getId()}"></td>
                            <td th:text="${product.getProductName()}"></td>
                            <td th:if="${product.getProducer() != null}" th:text="${product.getProducer().getProducerName()}"></td>
                            <td th:if="${product.getProducer() == null}" th:text="'Unknow producer'"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </tr>
                    </table>
                </div>
                <a th:href="@{/admin/product/create}" class="w3-button w3-margin">Create</a>
            </div>
        </div>
    <!--</div>-->

</body>
</html>