<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <!--Menu bar-->
    <div th:replace="fragments/menu.html :: top_menu"/>

    <div th:each="product : ${productList}" class="w3-container">
        <div class="w3-container w3-grey w3-margin">
            <div class="w3-container">
                <div class="w3-container w3-section w3-light-grey w3-margin">
                    <ul class="w3-ul">
                        <li th:if="${product != null}" th:text="'Id: ' + ${product.getId()}">Id</li>
                        <li th:if="${product != null}" th:text="'Product: ' + ${product.getProductName()}">Product</li>
                        <!--&lt;!&ndash;<li th:if="${product != null}" th:text="'Producer: ' + ${product.getProductName()}">Product</li>&ndash;&gt;-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>